Django==5.2.17
djangorestframework==3.18.0
django-cors-headers==4.9.0
requests==2.34.2
python-decouple==3.8
gunicorn==22.0.0
whitenoise==6.12.0
python-json-logger==4.2.0
responses==0.25.3
sentry-sdk==2.14.0
